<p>all works!</p>


<div class="card-container">
    <a routerLink="from-event"> <p-card header="From Event"></p-card></a>
    <a routerLink="interval"> <p-card header="Interval"></p-card></a>
    <a routerLink="of-from"> <p-card header="Of and From"></p-card></a>
    <a routerLink="from-event"> <p-card header="Card Header 1"></p-card></a>
    <a routerLink="from-event"> <p-card header="Card Header 2"></p-card></a>
    <a routerLink="from-event"> <p-card header="Card Header 3"></p-card></a>
    <a routerLink="from-event"> <p-card header="Card Header 1"></p-card></a>

</div>