<h1>of-from works!</h1>

Of cibverts the arguments to an observable sequence

<br>
<strong>Ex-01 (OF)</strong>
<hr>
<div class="ui-g-6" style="border-style: solid;width: 50%;padding:2px 2px;">
    <strong>Data</strong>: of('Anup','Shekhar','sharma' )
</div>
<hr>
<ul id="elContainer">
</ul>
<div class="ui-g-6" style="border-style: solid;width: 50%;padding:2px 2px;">
    <strong>Data</strong>: of(&#123; a:'Anup',b:'Shekhar',c:'sharma' &#125; )
</div>
<hr>
<ul >
    <li><strong>a:</strong>{{obsMsg.a}}</li>
    <li><strong>b:</strong>{{obsMsg.b}}</li>
    <li><strong>c:</strong>{{obsMsg.c}}</li>
</ul>;